body {
    background-color: aquamarine;
    margin: 0;
    padding: 5px;
}
h1 {
    text-align: center;
}

nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding-right: 50px;
}

section P {
    margin-right: 46%;
}

aside {
    margin-left: 320px;
    margin-top: -250px;
    border: 2px solid black;
}

img {
    width: 259px;
}

#sec {
    margin-top: -190px;
}

#clean {
    margin-right: 46%;
}

.clean {
    margin-right: 0%;
}

.cient {
    list-style: none;
    margin-bottom: 15px;
    margin-left: 18px;
    border: 2px solid black;
    display: table;
    padding: 1px;
}

.center {
    border: 2px solid black;
    display: table;
    margin-left: 17px;
    padding: 1px;
}

footer {
    text-align: center;
    border: 2px solid black;
    display: table;
    margin: auto;
    padding: 0px 10px;
    margin-top: 40px;
}
