h1 {
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  width: 200px;
}

.second {
  background-color: rgb(219, 219, 219);
  width: 300px;
  margin-right: 50.5%;
}

.third {
  background-color: rgb(170, 142, 106);
  width: 300px;
  margin-left: 50%;
  margin-top: -50px;
}

.center {
    text-align: center;
}

section ul li {
    list-style: none;
    margin: auto;
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.inline {
    display: inline;
}






