.back-yellow{
    background-color: yellow;
}

.par{
    color: green;
}

.impar{
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1.italic{
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

ol li em{
    font-weight: 1000;
}

li.blue{
    color: blue;
}

li.pink{
    background-color: palevioletred;
}

ul li a:hover{
    font-weight: 1000;
    color: black;
}