body {
    font-size: 16px;
    background-color: blueviolet;
  } 

  h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
  }

  p {
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
  }

  .color-ul-p {
    line-height: 50px;
    font-weight: 600;
    text-align: center;
  }

  #yellow {
    background-color: yellow;
  }

  #red {
    background-color: red;
  }

  #marrom {
    background-color: maroon;
  }